<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinrui.dao.SubstationMpGatherMapper">
  <resultMap id="BaseResultMap" type="com.xinrui.framework.model.SubstationMpGather">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="basicId" jdbcType="INTEGER" property="basicId" />
    <result column="mpnIsRight" jdbcType="INTEGER" property="mpnIsRight" />
    <result column="meterCode" jdbcType="VARCHAR" property="meterCode" />
    <result column="meterDescription" jdbcType="VARCHAR" property="meterDescription" />
    <result column="lineName" jdbcType="VARCHAR" property="lineName" />
    <result column="meterDate" jdbcType="VARCHAR" property="meterDate" />
    <result column="mpCode" jdbcType="INTEGER" property="mpCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, basicId, mpnIsRight, meterCode, meterDescription, lineName, meterDate, mpCode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_substation_mp_gather
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_substation_mp_gather
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xinrui.framework.model.SubstationMpGather">
    insert into t_substation_mp_gather (id, basicId, mpnIsRight, 
      meterCode, meterDescription, lineName, 
      meterDate, mpCode)
    values (#{id,jdbcType=INTEGER}, #{basicId,jdbcType=INTEGER}, #{mpnIsRight,jdbcType=INTEGER}, 
      #{meterCode,jdbcType=VARCHAR}, #{meterDescription,jdbcType=VARCHAR}, #{lineName,jdbcType=VARCHAR}, 
      #{meterDate,jdbcType=VARCHAR}, #{mpCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xinrui.framework.model.SubstationMpGather">
    insert into t_substation_mp_gather
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="basicId != null">
        basicId,
      </if>
      <if test="mpnIsRight != null">
        mpnIsRight,
      </if>
      <if test="meterCode != null">
        meterCode,
      </if>
      <if test="meterDescription != null">
        meterDescription,
      </if>
      <if test="lineName != null">
        lineName,
      </if>
      <if test="meterDate != null">
        meterDate,
      </if>
      <if test="mpCode != null">
        mpCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basicId != null">
        #{basicId,jdbcType=INTEGER},
      </if>
      <if test="mpnIsRight != null">
        #{mpnIsRight,jdbcType=INTEGER},
      </if>
      <if test="meterCode != null">
        #{meterCode,jdbcType=VARCHAR},
      </if>
      <if test="meterDescription != null">
        #{meterDescription,jdbcType=VARCHAR},
      </if>
      <if test="lineName != null">
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="meterDate != null">
        #{meterDate,jdbcType=VARCHAR},
      </if>
      <if test="mpCode != null">
        #{mpCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinrui.framework.model.SubstationMpGather">
    update t_substation_mp_gather
    <set>
      <if test="basicId != null">
        basicId = #{basicId,jdbcType=INTEGER},
      </if>
      <if test="mpnIsRight != null">
        mpnIsRight = #{mpnIsRight,jdbcType=INTEGER},
      </if>
      <if test="meterCode != null">
        meterCode = #{meterCode,jdbcType=VARCHAR},
      </if>
      <if test="meterDescription != null">
        meterDescription = #{meterDescription,jdbcType=VARCHAR},
      </if>
      <if test="lineName != null">
        lineName = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="meterDate != null">
        meterDate = #{meterDate,jdbcType=VARCHAR},
      </if>
      <if test="mpCode != null">
        mpCode = #{mpCode,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinrui.framework.model.SubstationMpGather">
    update t_substation_mp_gather
    set basicId = #{basicId,jdbcType=INTEGER},
      mpnIsRight = #{mpnIsRight,jdbcType=INTEGER},
      meterCode = #{meterCode,jdbcType=VARCHAR},
      meterDescription = #{meterDescription,jdbcType=VARCHAR},
      lineName = #{lineName,jdbcType=VARCHAR},
      meterDate = #{meterDate,jdbcType=VARCHAR},
      mpCode = #{mpCode,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>